* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* game container */
#gameContainer {
  /* background-color: rgba(30, 17, 99, 0.712); */
  margin: auto;
  width: 45vmin;
  height: 50vmin;
  border: 3px solid grey;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

/* control panel */
#controlPanel {
  display: flex;
  justify-content: space-between;
  height: 10%;
  border: 3px solid rgb(78, 76, 76);
  /* margin: 5px; */
}

#statsContainer {
  display: flex;
  width: 40%;
}
#mineIcon {
  border: 1px solid black;
  width: 25%;
  /*  */
}
#minesLeft {
  background-color: rgba(146, 102, 146, 0.151);
  width: 25%;
  text-align: center;
  font-size: 125%;
  /*  */
}

#flagIcon {
  border: 1px solid black;
  width: 50%;
  /*  */
}
#flagsLeft {
  background-color: rgba(146, 102, 146, 0.151);
  width: 50%;
  text-align: center;
  font-size: 125%;
  /*  */
}

#gameButton {
  width: 10%;
  /* height: 100%; */
  /*  */
}

#timerContainer {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 40%;
}

#timerIcon {
  border: 1px solid black;
  width: 25%;
}

#timer {
  background-color: rgba(146, 102, 146, 0.151);
  width: 50%;
  text-align: center;
  font-size: 125%;
}

/* grid container */
#gridContainer {
  display: flex;
  flex-direction: column;
  /* margin: 5px; */
  height: 90%;
  /* border: 3px solid rgb(78, 76, 76); */
}

.row {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}

.square {
  background-size: cover;
  background-image: url(./Images/facingDown.png);
  flex-grow: 1;
  flex-basis: 0;
  /* text-align: center; */
  /* font-size: 80%; */
}

._0 {
  background-image: url(./Images/0.png);
}
._1 {
  background-image: url(./Images/1.png);
}
._2 {
  background-image: url(./Images/2.png);
}
._3 {
  background-image: url(./Images/3.png);
}
._4 {
  background-image: url(./Images/4.png);
}
._5 {
  background-image: url(./Images/5.png);
}
._6 {
  background-image: url(./Images/6.png);
}
._7 {
  background-image: url(./Images/7.png);
}
._8 {
  background-image: url(./Images/8.png);
}

.flagged {
  background-image: url(./Images/flagged.png);
}

._M {
  background-image: url(./Images/bomb.png);
}
